In [1]:
from pyspark.sql import SparkSession

spark = (
    SparkSession
    .builder
    .appName("Intro")
    .master("local[*]")
    .getOrCreate()
)

spark

In [3]:
data = [["John", 28], ["Doe", 34], ["Alice", 30], ["Bob", 26]]

In [4]:
data_schema = "Name string, Age int"

In [6]:
df = spark.createDataFrame(data=data,schema=data_schema)
df.show()

+-----+---+
| Name|Age|
+-----+---+
| John| 28|
|  Doe| 34|
|Alice| 30|
|  Bob| 26|
+-----+---+

In [7]:
df.rdd.getNumPartitions()

20

In [8]:
df_30 = df.where("Age > 30")

In [9]:
df_30.show()

+----+---+
|Name|Age|
+----+---+
| Doe| 34|
+----+---+

In [10]:
df_30.rdd.getNumPartitions()

20

In [11]:
df.write.format("csv").save("output/tut05.csv")

In [12]:
df.schema

StructType([StructField('Name', StringType(), True), StructField('Age', IntegerType(), True)])

In [15]:
from pyspark.sql.types import IntegerType,StringType,StructField,StructType

schema_string = "Name string,Age int"

# this is how spark store schema
schema_spark = StructType([
    StructField("Name",StringType(),True),
    StructField("Age",IntegerType(),True)
])

In [24]:
emp = "Name string, id int,age int, role string"

In [25]:
emp_data = [
    ["A",1,35,"it"],
    ["B",2,43,"cs+ds"],
    ["C",3,22,"ece"]
]

In [26]:
emp_df = spark.createDataFrame(data=emp_data,schema=emp)

In [28]:
emp_df.show()

+----+---+---+-----+
|Name| id|age| role|
+----+---+---+-----+
|   A|  1| 35|   it|
|   B|  2| 43|cs+ds|
|   C|  3| 22|  ece|
+----+---+---+-----+

In [29]:
from pyspark.sql.functions import col,expr

emp_new = emp_df.select(col("Name"),expr("id as emp_id"),emp_df.age,emp_df.role)
emp_new.show()

+----+------+---+-----+
|Name|emp_id|age| role|
+----+------+---+-----+
|   A|     1| 35|   it|
|   B|     2| 43|cs+ds|
|   C|     3| 22|  ece|
+----+------+---+-----+