In [3]:
from pyspark.sql import SparkSession

spark = (
    
    SparkSession
    .builder
    .appName("Sort Union and Aggregation")
    .master("local[*]")
    .getOrCreate()
)

spark

In [24]:
from pyspark.sql.types import StructField,StructType,StringType

schema = StructType([
    StructField("employee_id", StringType(), True),
    StructField("department_id", StringType(), True),
    StructField("name", StringType(), True),
    StructField("age", StringType(), True),
    StructField("gender", StringType(), True),
    StructField("hire_date", StringType(), True),
    StructField("salary",StringType(),True)
])

In [25]:
data1 = [
    {"employee_id": "E001", "department_id": "D001", "name": "Alice", "age": "30", "gender": "F", "hire_date": "2020-01-15", "salary": "70000"},
    {"employee_id": "E002", "department_id": "D002", "name": "Bob", "age": "32", "gender": "M", "hire_date": "2019-03-22", "salary": "75000"},
    {"employee_id": "E003", "department_id": "D003", "name": "Charlie", "age": "29", "gender": "M", "hire_date": "2021-07-18", "salary": "68000"},
    {"employee_id": "E004", "department_id": "D001", "name": "Diana", "age": "28", "gender": "F", "hire_date": "2020-10-12", "salary": "72000"},
    {"employee_id": "E005", "department_id": "D004", "name": "Eve", "age": "26", "gender": "F", "hire_date": "2018-06-30", "salary": "65000"},
    {"employee_id": "E006", "department_id": "D002", "name": "Frank", "age": "35", "gender": "M", "hire_date": "2017-09-05", "salary": "80000"},
    {"employee_id": "E007", "department_id": "D003", "name": "Grace", "age": "31", "gender": "F", "hire_date": "2021-01-01", "salary": "71000"},
    {"employee_id": "E008", "department_id": "D001", "name": "Hank", "age": "33", "gender": "M", "hire_date": "2019-11-25", "salary": "77000"},
    {"employee_id": "E009", "department_id": "D002", "name": "Ivy", "age": "27", "gender": "F", "hire_date": "2020-04-20", "salary": "67000"},
    {"employee_id": "E010", "department_id": "D004", "name": "Jack", "age": "34", "gender": "M", "hire_date": "2016-05-14", "salary": "78000"},
    {"employee_id": "E011", "department_id": "D003", "name": "Kelly", "age": "29", "gender": "F", "hire_date": "2018-08-19", "salary": "69000"},
    {"employee_id": "E012", "department_id": "D001", "name": "Liam", "age": "32", "gender": "M", "hire_date": "2017-12-10", "salary": "75000"},
    {"employee_id": "E013", "department_id": "D002", "name": "Maya", "age": "30", "gender": "F", "hire_date": "2021-03-07", "salary": "72000"},
    {"employee_id": "E014", "department_id": "D004", "name": "Nick", "age": "36", "gender": "M", "hire_date": "2015-10-21", "salary": "81000"},
    {"employee_id": "E015", "department_id": "D003", "name": "Olivia", "age": "28", "gender": "F", "hire_date": "2020-09-14", "salary": "73000"},
]

data2 = [
    {"employee_id": "E016", "department_id": "D005", "name": "Paul", "age": "45", "gender": "M", "hire_date": "2010-12-11", "salary": "90000"},
    {"employee_id": "E017", "department_id": "D006", "name": "Quinn", "age": "50", "gender": "F", "hire_date": "2008-04-29", "salary": "95000"},
    {"employee_id": "E018", "department_id": "D007", "name": "Rita", "age": "41", "gender": "F", "hire_date": "2013-06-15", "salary": "87000"},
    {"employee_id": "E019", "department_id": "D005", "name": "Steve", "age": "37", "gender": "M", "hire_date": "2016-11-20", "salary": "85000"},
    {"employee_id": "E020", "department_id": "D006", "name": "Tina", "age": "39", "gender": "F", "hire_date": "2015-03-01", "salary": "82000"},
    {"employee_id": "E021", "department_id": "D007", "name": "Uma", "age": "42", "gender": "F", "hire_date": "2014-02-18", "salary": "83000"},
    {"employee_id": "E022", "department_id": "D005", "name": "Victor", "age": "46", "gender": "M", "hire_date": "2009-09-09", "salary": "89000"},
    {"employee_id": "E023", "department_id": "D006", "name": "Wendy", "age": "44", "gender": "F", "hire_date": "2012-05-25", "salary": "87000"},
    {"employee_id": "E024", "department_id": "D007", "name": "Xander", "age": "47", "gender": "M", "hire_date": "2011-10-31", "salary": "91000"},
    {"employee_id": "E025", "department_id": "D005", "name": "Yara", "age": "43", "gender": "F", "hire_date": "2013-08-04", "salary": "86000"},
    {"employee_id": "E026", "department_id": "D006", "name": "Zane", "age": "49", "gender": "M", "hire_date": "2007-07-22", "salary": "95000"},
    {"employee_id": "E027", "department_id": "D007", "name": "Amy", "age": "38", "gender": "F", "hire_date": "2015-01-09", "salary": "83000"},
    {"employee_id": "E028", "department_id": "D005", "name": "Ben", "age": "40", "gender": "M", "hire_date": "2014-12-27", "salary": "84000"},
    {"employee_id": "E029", "department_id": "D006", "name": "Cara", "age": "41", "gender": "F", "hire_date": "2016-06-30", "salary": "85000"},
    {"employee_id": "E030", "department_id": "D007", "name": "David", "age": "50", "gender": "M", "hire_date": "2008-11-02", "salary": "92000"},
]

emp1 = spark.createDataFrame(data1, schema)
emp2 = spark.createDataFrame(data2, schema)

In [26]:
emp1.show()

+-----------+-------------+-------+---+------+----------+------+
|employee_id|department_id|   name|age|gender| hire_date|salary|
+-----------+-------------+-------+---+------+----------+------+
|       E001|         D001|  Alice| 30|     F|2020-01-15| 70000|
|       E002|         D002|    Bob| 32|     M|2019-03-22| 75000|
|       E003|         D003|Charlie| 29|     M|2021-07-18| 68000|
|       E004|         D001|  Diana| 28|     F|2020-10-12| 72000|
|       E005|         D004|    Eve| 26|     F|2018-06-30| 65000|
|       E006|         D002|  Frank| 35|     M|2017-09-05| 80000|
|       E007|         D003|  Grace| 31|     F|2021-01-01| 71000|
|       E008|         D001|   Hank| 33|     M|2019-11-25| 77000|
|       E009|         D002|    Ivy| 27|     F|2020-04-20| 67000|
|       E010|         D004|   Jack| 34|     M|2016-05-14| 78000|
|       E011|         D003|  Kelly| 29|     F|2018-08-19| 69000|
|       E012|         D001|   Liam| 32|     M|2017-12-10| 75000|
|       E013|         D002|   Maya| 30|     F|2021-03-07| 72000|
|       E014|         D004|   Nick| 36|     M|2015-10-21| 81000|
|       E015|         D003| Olivia| 28|     F|2020-09-14| 73000|
+-----------+-------------+-------+---+------+----------+------+

In [27]:
emp2.show()

+-----------+-------------+------+---+------+----------+------+
|employee_id|department_id|  name|age|gender| hire_date|salary|
+-----------+-------------+------+---+------+----------+------+
|       E016|         D005|  Paul| 45|     M|2010-12-11| 90000|
|       E017|         D006| Quinn| 50|     F|2008-04-29| 95000|
|       E018|         D007|  Rita| 41|     F|2013-06-15| 87000|
|       E019|         D005| Steve| 37|     M|2016-11-20| 85000|
|       E020|         D006|  Tina| 39|     F|2015-03-01| 82000|
|       E021|         D007|   Uma| 42|     F|2014-02-18| 83000|
|       E022|         D005|Victor| 46|     M|2009-09-09| 89000|
|       E023|         D006| Wendy| 44|     F|2012-05-25| 87000|
|       E024|         D007|Xander| 47|     M|2011-10-31| 91000|
|       E025|         D005|  Yara| 43|     F|2013-08-04| 86000|
|       E026|         D006|  Zane| 49|     M|2007-07-22| 95000|
|       E027|         D007|   Amy| 38|     F|2015-01-09| 83000|
|       E028|         D005|   Ben| 40|     M|2014-12-27| 84000|
|       E029|         D006|  Cara| 41|     F|2016-06-30| 85000|
|       E030|         D007| David| 50|     M|2008-11-02| 92000|
+-----------+-------------+------+---+------+----------+------+

In [28]:
#union - unique
emp = emp1.union(emp2)
emp.show()

+-----------+-------------+-------+---+------+----------+------+
|employee_id|department_id|   name|age|gender| hire_date|salary|
+-----------+-------------+-------+---+------+----------+------+
|       E001|         D001|  Alice| 30|     F|2020-01-15| 70000|
|       E002|         D002|    Bob| 32|     M|2019-03-22| 75000|
|       E003|         D003|Charlie| 29|     M|2021-07-18| 68000|
|       E004|         D001|  Diana| 28|     F|2020-10-12| 72000|
|       E005|         D004|    Eve| 26|     F|2018-06-30| 65000|
|       E006|         D002|  Frank| 35|     M|2017-09-05| 80000|
|       E007|         D003|  Grace| 31|     F|2021-01-01| 71000|
|       E008|         D001|   Hank| 33|     M|2019-11-25| 77000|
|       E009|         D002|    Ivy| 27|     F|2020-04-20| 67000|
|       E010|         D004|   Jack| 34|     M|2016-05-14| 78000|
|       E011|         D003|  Kelly| 29|     F|2018-08-19| 69000|
|       E012|         D001|   Liam| 32|     M|2017-12-10| 75000|
|       E013|         D002|   Maya| 30|     F|2021-03-07| 72000|
|       E014|         D004|   Nick| 36|     M|2015-10-21| 81000|
|       E015|         D003| Olivia| 28|     F|2020-09-14| 73000|
|       E016|         D005|   Paul| 45|     M|2010-12-11| 90000|
|       E017|         D006|  Quinn| 50|     F|2008-04-29| 95000|
|       E018|         D007|   Rita| 41|     F|2013-06-15| 87000|
|       E019|         D005|  Steve| 37|     M|2016-11-20| 85000|
|       E020|         D006|   Tina| 39|     F|2015-03-01| 82000|
+-----------+-------------+-------+---+------+----------+------+
only showing top 20 rows

In [29]:
# unionall -- adds duplicate if ther are any repeating values

emp = emp1.unionAll(emp2)
emp.show()

+-----------+-------------+-------+---+------+----------+------+
|employee_id|department_id|   name|age|gender| hire_date|salary|
+-----------+-------------+-------+---+------+----------+------+
|       E001|         D001|  Alice| 30|     F|2020-01-15| 70000|
|       E002|         D002|    Bob| 32|     M|2019-03-22| 75000|
|       E003|         D003|Charlie| 29|     M|2021-07-18| 68000|
|       E004|         D001|  Diana| 28|     F|2020-10-12| 72000|
|       E005|         D004|    Eve| 26|     F|2018-06-30| 65000|
|       E006|         D002|  Frank| 35|     M|2017-09-05| 80000|
|       E007|         D003|  Grace| 31|     F|2021-01-01| 71000|
|       E008|         D001|   Hank| 33|     M|2019-11-25| 77000|
|       E009|         D002|    Ivy| 27|     F|2020-04-20| 67000|
|       E010|         D004|   Jack| 34|     M|2016-05-14| 78000|
|       E011|         D003|  Kelly| 29|     F|2018-08-19| 69000|
|       E012|         D001|   Liam| 32|     M|2017-12-10| 75000|
|       E013|         D002|   Maya| 30|     F|2021-03-07| 72000|
|       E014|         D004|   Nick| 36|     M|2015-10-21| 81000|
|       E015|         D003| Olivia| 28|     F|2020-09-14| 73000|
|       E016|         D005|   Paul| 45|     M|2010-12-11| 90000|
|       E017|         D006|  Quinn| 50|     F|2008-04-29| 95000|
|       E018|         D007|   Rita| 41|     F|2013-06-15| 87000|
|       E019|         D005|  Steve| 37|     M|2016-11-20| 85000|
|       E020|         D006|   Tina| 39|     F|2015-03-01| 82000|
+-----------+-------------+-------+---+------+----------+------+
only showing top 20 rows

In [30]:
# sorting
from pyspark.sql.functions import desc,col,asc

emp_desc = emp.orderBy(col("age").desc())
emp_desc.show()

+-----------+-------------+------+---+------+----------+------+
|employee_id|department_id|  name|age|gender| hire_date|salary|
+-----------+-------------+------+---+------+----------+------+
|       E030|         D007| David| 50|     M|2008-11-02| 92000|
|       E017|         D006| Quinn| 50|     F|2008-04-29| 95000|
|       E026|         D006|  Zane| 49|     M|2007-07-22| 95000|
|       E024|         D007|Xander| 47|     M|2011-10-31| 91000|
|       E022|         D005|Victor| 46|     M|2009-09-09| 89000|
|       E016|         D005|  Paul| 45|     M|2010-12-11| 90000|
|       E023|         D006| Wendy| 44|     F|2012-05-25| 87000|
|       E025|         D005|  Yara| 43|     F|2013-08-04| 86000|
|       E021|         D007|   Uma| 42|     F|2014-02-18| 83000|
|       E029|         D006|  Cara| 41|     F|2016-06-30| 85000|
|       E018|         D007|  Rita| 41|     F|2013-06-15| 87000|
|       E028|         D005|   Ben| 40|     M|2014-12-27| 84000|
|       E020|         D006|  Tina| 39|     F|2015-03-01| 82000|
|       E027|         D007|   Amy| 38|     F|2015-01-09| 83000|
|       E019|         D005| Steve| 37|     M|2016-11-20| 85000|
|       E014|         D004|  Nick| 36|     M|2015-10-21| 81000|
|       E006|         D002| Frank| 35|     M|2017-09-05| 80000|
|       E010|         D004|  Jack| 34|     M|2016-05-14| 78000|
|       E008|         D001|  Hank| 33|     M|2019-11-25| 77000|
|       E012|         D001|  Liam| 32|     M|2017-12-10| 75000|
+-----------+-------------+------+---+------+----------+------+
only showing top 20 rows

In [31]:
# aggregation
# select dept_id, count(employee_id) as total_dept_count from emp groupby dept_id

from pyspark.sql.functions import count

emp_count = emp.groupBy("department_id").agg(count("employee_id").alias("total_dept_count"))
emp_count.show()

+-------------+----------------+
|department_id|total_dept_count|
+-------------+----------------+
|         D001|               4|
|         D002|               4|
|         D003|               4|
|         D004|               3|
|         D005|               5|
|         D006|               5|
|         D007|               5|
+-------------+----------------+

In [35]:
# select dept_id, sum(salary) as total_dept_salary from emp group by dept_id
from pyspark.sql.functions import sum,avg

emp_sum = emp.groupBy("department_id").agg(sum("salary").alias("total_dept_salary"))
emp_sum.show()

+-------------+-----------------+
|department_id|total_dept_salary|
+-------------+-----------------+
|         D001|         294000.0|
|         D002|         294000.0|
|         D003|         281000.0|
|         D004|         224000.0|
|         D005|         434000.0|
|         D006|         444000.0|
|         D007|         436000.0|
+-------------+-----------------+

In [37]:
emp_avg = emp.groupBy("department_id").agg(avg("salary").alias("avg_dept_salary"))
emp_avg.show()

+-------------+-----------------+
|department_id|  avg_dept_salary|
+-------------+-----------------+
|         D001|          73500.0|
|         D002|          73500.0|
|         D003|          70250.0|
|         D004|74666.66666666667|
|         D005|          86800.0|
|         D006|          88800.0|
|         D007|          87200.0|
+-------------+-----------------+

In [39]:
# agg with having clause
# select dept_id, avg(salary) as avg_dept_salary from emp group by dept_id having avg(salary) > 50000

emp_avg_filtered = emp.groupBy("department_id").agg(avg("salary").alias("avg_dept_salary")).where("avg_dept_salary > 75000")
emp_avg_filtered.show()

+-------------+---------------+
|department_id|avg_dept_salary|
+-------------+---------------+
|         D005|        86800.0|
|         D006|        88800.0|
|         D007|        87200.0|
+-------------+---------------+

In [ ]:
# incase column sequence is different 
# --> use df = df1.unionByName(df2)