In [1]:
from pyspark.sql import SparkSession

spark = (
    
    SparkSession
    .builder
    .appName("UNIQUE & WINDOW FUNC.")
    .master("local[*]")
    .getOrCreate()
)
spark

In [2]:
from pyspark.sql.types import StructField,StructType,StringType

schema = StructType([
    StructField("employee_id", StringType(), True),
    StructField("department_id", StringType(), True),
    StructField("name", StringType(), True),
    StructField("age", StringType(), True),
    StructField("gender", StringType(), True),
    StructField("hire_date", StringType(), True),
    StructField("salary",StringType(),True)
])

In [3]:
data1 = [
    {"employee_id": "E001", "department_id": "D001", "name": "Alice", "age": "30", "gender": "F", "hire_date": "2020-01-15", "salary": "70000"},
    {"employee_id": "E002", "department_id": "D002", "name": "Bob", "age": "32", "gender": "M", "hire_date": "2019-03-22", "salary": "75000"},
    {"employee_id": "E003", "department_id": "D003", "name": "Charlie", "age": "29", "gender": "M", "hire_date": "2021-07-18", "salary": "68000"},
    {"employee_id": "E004", "department_id": "D001", "name": "Diana", "age": "28", "gender": "F", "hire_date": "2020-10-12", "salary": "72000"},
    {"employee_id": "E005", "department_id": "D004", "name": "Eve", "age": "26", "gender": "F", "hire_date": "2018-06-30", "salary": "65000"},
    {"employee_id": "E006", "department_id": "D002", "name": "Frank", "age": "35", "gender": "M", "hire_date": "2017-09-05", "salary": "80000"},
    {"employee_id": "E007", "department_id": "D003", "name": "Grace", "age": "31", "gender": "F", "hire_date": "2021-01-01", "salary": "71000"},
    {"employee_id": "E008", "department_id": "D001", "name": "Hank", "age": "33", "gender": "M", "hire_date": "2019-11-25", "salary": "77000"},
    {"employee_id": "E009", "department_id": "D002", "name": "Ivy", "age": "27", "gender": "F", "hire_date": "2020-04-20", "salary": "67000"},
    {"employee_id": "E010", "department_id": "D004", "name": "Jack", "age": "34", "gender": "M", "hire_date": "2016-05-14", "salary": "78000"},
    {"employee_id": "E011", "department_id": "D003", "name": "Kelly", "age": "29", "gender": "F", "hire_date": "2018-08-19", "salary": "69000"},
    {"employee_id": "E012", "department_id": "D001", "name": "Liam", "age": "32", "gender": "M", "hire_date": "2017-12-10", "salary": "75000"},
    {"employee_id": "E013", "department_id": "D002", "name": "Maya", "age": "30", "gender": "F", "hire_date": "2021-03-07", "salary": "72000"},
    {"employee_id": "E014", "department_id": "D004", "name": "Nick", "age": "36", "gender": "M", "hire_date": "2015-10-21", "salary": "81000"},
    {"employee_id": "E015", "department_id": "D003", "name": "Olivia", "age": "28", "gender": "F", "hire_date": "2020-09-14", "salary": "73000"},
]

data2 = [
    {"employee_id": "E016", "department_id": "D005", "name": "Paul", "age": "45", "gender": "M", "hire_date": "2010-12-11", "salary": "90000"},
    {"employee_id": "E017", "department_id": "D006", "name": "Quinn", "age": "50", "gender": "F", "hire_date": "2008-04-29", "salary": "95000"},
    {"employee_id": "E018", "department_id": "D007", "name": "Rita", "age": "41", "gender": "F", "hire_date": "2013-06-15", "salary": "87000"},
    {"employee_id": "E019", "department_id": "D005", "name": "Steve", "age": "37", "gender": "M", "hire_date": "2016-11-20", "salary": "85000"},
    {"employee_id": "E020", "department_id": "D006", "name": "Tina", "age": "39", "gender": "F", "hire_date": "2015-03-01", "salary": "82000"},
    {"employee_id": "E021", "department_id": "D007", "name": "Uma", "age": "42", "gender": "F", "hire_date": "2014-02-18", "salary": "83000"},
    {"employee_id": "E022", "department_id": "D005", "name": "Victor", "age": "46", "gender": "M", "hire_date": "2009-09-09", "salary": "89000"},
    {"employee_id": "E023", "department_id": "D006", "name": "Wendy", "age": "44", "gender": "F", "hire_date": "2012-05-25", "salary": "87000"},
    {"employee_id": "E024", "department_id": "D007", "name": "Xander", "age": "47", "gender": "M", "hire_date": "2011-10-31", "salary": "91000"},
    {"employee_id": "E025", "department_id": "D005", "name": "Yara", "age": "43", "gender": "F", "hire_date": "2013-08-04", "salary": "86000"},
    {"employee_id": "E026", "department_id": "D006", "name": "Zane", "age": "49", "gender": "M", "hire_date": "2007-07-22", "salary": "95000"},
    {"employee_id": "E027", "department_id": "D007", "name": "Amy", "age": "38", "gender": "F", "hire_date": "2015-01-09", "salary": "83000"},
    {"employee_id": "E028", "department_id": "D005", "name": "Ben", "age": "40", "gender": "M", "hire_date": "2014-12-27", "salary": "84000"},
    {"employee_id": "E029", "department_id": "D006", "name": "Cara", "age": "41", "gender": "F", "hire_date": "2016-06-30", "salary": "85000"},
    {"employee_id": "E030", "department_id": "D007", "name": "David", "age": "50", "gender": "M", "hire_date": "2008-11-02", "salary": "92000"},
]

emp1 = spark.createDataFrame(data1, schema)
emp2 = spark.createDataFrame(data2, schema)

In [4]:
emp = emp1.distinct()
emp.show()

+-----------+-------------+-------+---+------+----------+------+
|employee_id|department_id|   name|age|gender| hire_date|salary|
+-----------+-------------+-------+---+------+----------+------+
|       E001|         D001|  Alice| 30|     F|2020-01-15| 70000|
|       E002|         D002|    Bob| 32|     M|2019-03-22| 75000|
|       E003|         D003|Charlie| 29|     M|2021-07-18| 68000|
|       E004|         D001|  Diana| 28|     F|2020-10-12| 72000|
|       E005|         D004|    Eve| 26|     F|2018-06-30| 65000|
|       E006|         D002|  Frank| 35|     M|2017-09-05| 80000|
|       E007|         D003|  Grace| 31|     F|2021-01-01| 71000|
|       E008|         D001|   Hank| 33|     M|2019-11-25| 77000|
|       E009|         D002|    Ivy| 27|     F|2020-04-20| 67000|
|       E010|         D004|   Jack| 34|     M|2016-05-14| 78000|
|       E011|         D003|  Kelly| 29|     F|2018-08-19| 69000|
|       E012|         D001|   Liam| 32|     M|2017-12-10| 75000|
|       E013|         D002|   Maya| 30|     F|2021-03-07| 72000|
|       E014|         D004|   Nick| 36|     M|2015-10-21| 81000|
|       E015|         D003| Olivia| 28|     F|2020-09-14| 73000|
+-----------+-------------+-------+---+------+----------+------+

In [5]:
# distinct department_id
emp_dept_id = emp.select("department_id").distinct()

In [6]:
emp_dept_id.show()

+-------------+
|department_id|
+-------------+
|         D001|
|         D002|
|         D003|
|         D004|
+-------------+

In [7]:
# window function
# select * , max(salary) over(partition by department_id order by salary desc) as max_salary from emp_unique

from pyspark.sql.window import Window
from pyspark.sql.functions import max,col,desc

window_spec = Window.partitionBy(col("department_id")).orderBy(col("salary").desc())
max_func = max(col("salary")).over(window_spec)

emp1 = emp.withColumn("max_salary",max_func)
emp1.show()

+-----------+-------------+-------+---+------+----------+------+----------+
|employee_id|department_id|   name|age|gender| hire_date|salary|max_salary|
+-----------+-------------+-------+---+------+----------+------+----------+
|       E008|         D001|   Hank| 33|     M|2019-11-25| 77000|     77000|
|       E012|         D001|   Liam| 32|     M|2017-12-10| 75000|     77000|
|       E004|         D001|  Diana| 28|     F|2020-10-12| 72000|     77000|
|       E001|         D001|  Alice| 30|     F|2020-01-15| 70000|     77000|
|       E006|         D002|  Frank| 35|     M|2017-09-05| 80000|     80000|
|       E002|         D002|    Bob| 32|     M|2019-03-22| 75000|     80000|
|       E013|         D002|   Maya| 30|     F|2021-03-07| 72000|     80000|
|       E009|         D002|    Ivy| 27|     F|2020-04-20| 67000|     80000|
|       E015|         D003| Olivia| 28|     F|2020-09-14| 73000|     73000|
|       E007|         D003|  Grace| 31|     F|2021-01-01| 71000|     73000|
|       E011|         D003|  Kelly| 29|     F|2018-08-19| 69000|     73000|
|       E003|         D003|Charlie| 29|     M|2021-07-18| 68000|     73000|
|       E014|         D004|   Nick| 36|     M|2015-10-21| 81000|     81000|
|       E010|         D004|   Jack| 34|     M|2016-05-14| 78000|     81000|
|       E005|         D004|    Eve| 26|     F|2018-06-30| 65000|     81000|
+-----------+-------------+-------+---+------+----------+------+----------+

In [8]:
# 2nd highest salary of each department
# select *, row_number() over(partition by department_id orde by salary desc) as rn from emp_unique where rn = 2

from pyspark.sql.functions import row_number
window_spec = Window.partitionBy(col("department_id")).orderBy(col("salary").desc())
rn = row_number().over(window_spec)

emp2 = emp.withColumn("rn",rn).where("rn = 2")
emp2.show()

+-----------+-------------+-----+---+------+----------+------+---+
|employee_id|department_id| name|age|gender| hire_date|salary| rn|
+-----------+-------------+-----+---+------+----------+------+---+
|       E012|         D001| Liam| 32|     M|2017-12-10| 75000|  2|
|       E002|         D002|  Bob| 32|     M|2019-03-22| 75000|  2|
|       E007|         D003|Grace| 31|     F|2021-01-01| 71000|  2|
|       E010|         D004| Jack| 34|     M|2016-05-14| 78000|  2|
+-----------+-------------+-----+---+------+----------+------+---+

In [10]:
# above ques using expr
from pyspark.sql.functions import expr

emp3 = emp.withColumn("rn",expr("row_number() over(partition by department_id order by salary desc)")).where("rn=2")
emp3.show()

+-----------+-------------+-----+---+------+----------+------+---+
|employee_id|department_id| name|age|gender| hire_date|salary| rn|
+-----------+-------------+-----+---+------+----------+------+---+
|       E012|         D001| Liam| 32|     M|2017-12-10| 75000|  2|
|       E002|         D002|  Bob| 32|     M|2019-03-22| 75000|  2|
|       E007|         D003|Grace| 31|     F|2021-01-01| 71000|  2|
|       E010|         D004| Jack| 34|     M|2016-05-14| 78000|  2|
+-----------+-------------+-----+---+------+----------+------+---+